/* ID SELECTED */
#title{
    background-color: #ff4c68;
}



/* Class SELECTED */
.body{
    font-family: Montserrat;
}


.heading{
    font-family: Montserrat;
    font-weight: 800;
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15%;
}

/* Navigation Bar */

.navbar{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 4.5rem;
}


.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Ubuntu;
}
.nav-item{
    padding: 0px 18px;
    font-size: 1rem;
    font-weight: bold;
}

.nav-link{
    font-size: 1.2rem;
    font-family: Montserrat;
    font-weight: lighter;
}

/* Download Button */

.dlbutton{
    padding-right: 5px;
}

.fa-apple{
    position: relative;
    bottom: 1px;
}

.download-frame{
    margin: 5% 3% 5% 0px;
}

/* Title Image */

.dogphoto{
    transform: rotate(30deg);
    width: 50%;
}


/* Feature Section  */

#features{
    font-family: Montserrat;
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon-features{
    color: #ef8172;
    margin-bottom: 1rem;
    padding: 10% 5% 0% 5%;
}

.icon-features:hover{
    color: #ff4c68;
}

.feature-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.feature-description{
    color: #8f8f8f;
}